.pad {
  width: 100%;
  height: 784px;
  background-color: var(--background-main);
  position: relative;

  &__backgroundImg {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__citySvg {
    width: 657px;
    height: 376px;
    z-index: 11;
    position: absolute;
    top: 408px;
    left: 412px;
  }
  &__statueSvg {
    width: 247px;
    height: 712px;
    z-index: 12;
    position: absolute;
    top: 72px;
    left: 617px;
  }
  &__flameSvg {
    width: 31px;
    height: 38px;
    z-index: 13;
    position: absolute;
    top: 71px;
    left: 635px;
  }
  &__cloud1Svg {
    width: 132px;
    height: 88px;
    color: #fff;
    z-index: 13;
    position: absolute;
    top: 112px;
    left: 817px;
  }
  &__cloud2Svg {
    width: 83px;
    height: 56px;
    z-index: 13;
    position: absolute;
    top: 272px;
    left: 503px;
  }

  &__blokLeft {
    position: relative;
    padding-top: 60px;
    z-index: 20;
    width: 375px;
    margin-left: 103px;
    text-align: start;
  }

  &__text1 {
    color: var(--colour-dark-blue);
    font-family: Intro Bold;
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
  &__text2 {
    color: var(--text-color);
    font-family: Intro Book;
    font-size: 16px;
    line-height: 24px; /* 150% */
    margin-top: 35px;
  }
  &__readMore {
    color: var(--color-blue);
    font-family: Intro Regular;
    font-size: 18px;
    line-height: 24px;
    &:hover {
      opacity: 0.7;
    }
    margin-top: 32px;
  }
  &__rightarrowSvg {
    margin-left: 8px;
    width: 5px;
    height: 8px;
  }
  &__text3 {
    color: var(--colour-dark-blue);
    font-family: Intro Regular;
    font-size: 22px;
    line-height: 32px;
    margin-top: 80px;
  }
  &__img {
    width: 374px;
    height: 232px;
    background: url("./images/video.png") no-repeat center center;
    margin-top: 22px;
  }
}
