#root {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.splide__slide.is-active {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
